@model IEnumerable<Expense_Tracker.Models.Transaction>

@{
    ViewData["PageTitle"] = "Transactions";
    ViewData["PageActionText"] = "+ New Transaction";
    ViewData["PageActionUrl"] = "Transactions/AddOrEdit";
}


<div class="row">
    <div class="col-lg-7 mb-5 mb-lg-0">
        <ejs-grid id="transactions" dataSource="@Model" allowPaging="true" allowSorting="true">
            <e-grid-pagesettings pageSize="5"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column field="CategoryTitleWithIcon" headerText="Category"></e-grid-column>
                <e-grid-column field="Date" headerText="Date"  width="110px " textAlign="Left" format="MMM-dd-yy" type="date"></e-grid-column>
                <e-grid-column field="AmountWithPrefix" headerText="Amount" width="150px " textAlign="Right"></e-grid-column>
                <e-grid-column field="" headerText="Actions" template="#actionColumnTemplate" width="100px"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
    <div class="col-lg-5">
        <div class="widget d-flex h-100 justify-content-center align-items-center p-5" style="background-color:#212b36">
            @*<i class="fa-solid fa-shapes fa-2xl"></i>*@
            <img src="~/images/wallet.png" class="categories-image" />
        </div>
    </div>
</div>



<script id="actionColumnTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
        <a class="btn btn-sm no-a-decoration" href="Transactions/AddOrEdit/${TransactionId}"><i class="fa-solid fa-pen text-light"></i></a>
        <form action="Transactions/Delete/${TransactionId}" method="post">
    @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-sm btn-link no-a-decoration"
            onclick="return confirm(&quot;Are you sure you want to delete this transaction?&quot;)"
            ><i class="fa-solid fa-trash text-danger"></i></button>
        </form>
    <div>
</script>