html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
    font-family: 'Inter', sans-serif;
}

*:not(.fa-solid):not(.fa):not(.e-icons) {
    font-family: 'Inter', sans-serif;
}

/*Button*/
.btn:focus, .btn:active{
    outline: none !important;
    box-shadow: none;
}

/*Hyperlinks*/
.no-a-decoration, .no-a-decoration:hover{
    text-decoration: none;
    color: inherit;
}

body {
  margin-bottom: 60px;
  background-color: #12161d;
  color: white;
  
}

.e-bigger {
    font-size: x-large;
}

.e-grid{
    border: 0;
    
}

.e-grid .e-gridcontent, .e-grid .e-table{
    background-color: #1a222b;
    padding: 0 .5rem;
}

.e-grid .e-table .e-row .e-rowcell{
    border-color: #222b33;
}


.e-bigger .e-pager div.e-parentmsgbar, .e-pager.e-bigger div.e-parentmsgbar{
    font-size: .8rem;
}


.e-grid .e-gridheader {
    border: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
    background-color: #222b33;
    border-radius: 1rem 1rem 0 0;
    font-size: 0.5rem;
}

.e-grid .e-gridheader .e-headercell{
    background: none;
}

    .e-grid .e-pager {
        background-color: #222b33;
        border: none;
        border-radius: 0 0 1rem 1rem;
    }

.e-grid .e-pagercontainer {
    border: none;
}

.e-grid .e-gridpager .e-prevpagedisabled,
.e-grid .e-gridpager .e-prevpage,
.e-grid .e-gridpager .e-nextpage,
.e-grid .e-gridpager .e-nextpagedisabled,
.e-grid .e-gridpager .e-lastpagedisabled,
.e-grid .e-gridpager .e-lastpage,
.e-grid .e-gridpager .e-firstpage,
.e-grid .e-gridpager .e-firstpagedisabled {
    background: #222b33;
    border: none;
}

    .e-btn-group.custom-rbt-group {
        width: 100%;
    }

.e-btn-group.custom-rbt-group .e-btn {
    width: 50%;
}

.custom-rbt-group label.e-btn{
    box-shadow: none !important;
    border: solid 1px #fff;
    background-color: rgb(34 43 51);
    color: #fff;
}

.e-btn-group.custom-rbt-group input:checked + label.e-btn{
    background-color: #fff;
    color: #212b36;
    border: 1px solid #fff;
}


/*Widget*/

.widget{
   border-radius: 1rem;
   background-color: #1a222b;
}